.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-lock {
  height: 80px; /* Ajusta el tamaño según sea necesario */
}

.App-loading-bar {
  width: 40%; /* Reduce el largo de la barra de carga */
  height: 20px;
  background-color: #ddd; /* Color de fondo de la barra de carga */
  margin-top: 20px; /* Espacio entre el candado y la barra de carga */
}

.App-progress {
  height: 100%;
  transition: width 0.001s ease; /* Agrega una transición suave a la anchura */
}

.Loading-text-large {
  font-size: 2em;
  animation: textEnlargeLarge 1s infinite alternate ease-in-out; /* Agrega ease-in-out */
}

@keyframes textEnlargeLarge {
  from {
    font-size: 2em;
  }
  to {
    font-size: 3em;
  }
}

.Welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
}

.fade-out {
  animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
